<div class="container">

    <div class="navbar">

        <div class="info">
            <h2>Mi Perfil</h2>
            <h6>Home/Perfil</h6>
        </div>

        <div class="usuario">
            <div class="icon-perfil">
                <fa-icon [icon]="faUserCircle" class="fa-2xl"> </fa-icon>
            </div>
            <div class="info-perfil">
                <h5>Nombre Usuario</h5>
                <h5>Cargo Ususrio</h5>
            </div>
        </div>

    </div>

    <div class="menu-vertical">
        <div class="logo-empresa">

        </div>
        <div class="icon icon-perfil icon-perfil-menu">
            <fa-icon [icon]="faUserCircle" class="fa-lg"> </fa-icon>
            <h6>_Perfil</h6>
        </div>
        <div class="icon icon-envios">
            <fa-icon [icon]="faPaperPlane" class="fa-lg"></fa-icon>
            <h6>_Envios</h6>
        </div>
        <div class="icon icon-personal">
            <fa-icon [icon]="faPeopleGroup" class="fa-lg"> </fa-icon>
            <h6>_Personal</h6>
        </div>
        <div class="icon icon-vehiculos">
            <fa-icon [icon]="faTruckFast" class="fa-lg"></fa-icon>
            <h6>_Vehiculos</h6>
        </div>

    </div>

    <div class="main">

        <div class="contenedor-main">

            <div class="contenedor-main-left">
                <div class="contenedor-main-left-info">
                    <div class="imagen-perfil">
                        <img src="" alt="">foto perfil
                    </div>
                    <div class="cargo-sesion">
                        <p>""Cargo""</p>
                        <a class="sesion" href="#">Cerrar Sesion</a>
                    </div>
                </div>
            </div>

            <div class="contenedor-main-right">
                <div class="info-general">
                    <h2>Informacion General</h2><br>
                    <hr>
                </div>

                <div class="datos-perfil">


                    <div class="datos-perfil-left">
                        <div class="datos-perfil-left-p">
                            <p>Nombre:</p>
                            <p>E-mail:</p>
                            <p>Direccion:</p>
                            <p>Telefono:</p>
                        </div>

                        <div class="datos-perfil-left-input">
                            <input type="text" placeholder="Nombre">
                            <input type="text" placeholder="E-mail">
                            <input type="text" placeholder="Direccion">
                            <input type="text" placeholder="Telefono">
                        </div>

                    </div>

                    <div class="datos-perfil-right">
                        <p>DNI: <input type="text" name="Nº dni" placeholder="DNI"></p>
                        <br>
                        <div class="datos-perfil-password">
                            <div class="datos-perfil-password-container">
                                <div class="datos-perfil-password-left">
                                    <p>Contraseña:</p>
                                    <p>Repetir Contraseña:</p>
                                </div>
                                <div class="datos-perfil-password-right">
                                    <input type="password" name="contraseña" id="">
                                    <input type="password" name="contraseña" id="">
                                </div>
                            </div>
                            <input class="input-password" type="button" value="Cambiar">
                        </div>

                    </div>
                </div>


                <div class="configuracion">
                    <h3>Configuracion General</h3><br>
                    <hr>
                </div>
                <div class="configuracion-idiomas">
                    <p>Idioma Preferido:</p>
                    <div>
                        <select name="service">
                            <option>Español</option>
                            <option>Ingles</option>
                            <option>Frances</option>
                        </select>
                    </div>
                </div>

                <div class="permisos">
                    <h3>Permisos</h3><br>
                    <hr>
                </div>

                <div class="permisos-checkbox">
                    <div class="checkbox">
                        <input type="checkbox" name="checkbox" id="">
                        <label for="">Hacer Envios</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="checkbox" id="">
                        <label for="">Editar Envios</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="checkbox" id="">
                        <label for="">Cancelar Envios</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="checkbox" id="">
                        <label for="">Borrar Envios</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="checkbox" id="">
                        <label for="">Crear Usuarios</label>
                    </div>
                </div>


            </div>

        </div>

    </div>

</div>