<!-- <app-perfil></app-perfil> -->
<!-- <app-facturas></app-facturas> -->

<div class="container">

    <div class="navbar">

        <div class="info">
            <h2>Mi Perfil</h2>
            <h6>Home/Perfil</h6>
        </div>

        <div class="usuario">
            <div class="icon-perfil">
                <fa-icon [icon]="faUserCircle" class="fa-2xl"> </fa-icon>
            </div>
            <div class="info-perfil">
                <h5>Nombre Usuario</h5>
                <h5>Cargo Ususrio</h5>
            </div>
        </div>

    </div>

    <div class="menu-vertical">
        <div class="logo-empresa">

        </div>
        <div class="icon icon-perfil icon-perfil-menu">
            <fa-icon [icon]="faUserCircle" class="fa-lg"> </fa-icon>
            <h6>_Perfil</h6>
        </div>
        <div class="icon icon-envios">
            <fa-icon [icon]="faPaperPlane" class="fa-lg"></fa-icon>
            <h6>_Envios</h6>
        </div>
        <div class="icon icon-personal">
            <fa-icon [icon]="faPeopleGroup" class="fa-lg"> </fa-icon>
            <h6>_Personal</h6>
        </div>
        <div class="icon icon-vehiculos">
            <fa-icon [icon]="faTruckFast" class="fa-lg"></fa-icon>
            <h6>_Vehiculos</h6>
        </div>

    </div>

    <div class="main">

        
          

    </div>

</div>